@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700,300italic);
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #EEEEEE;
    color: #666;
}

.wrapper {
    max-width: 75%;
    margin: auto;
}

.title {
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-select {
    max-width: 25%;
}

.cancel {
    margin-left: 10px;
}

.butts {
    margin-top: 40px;
}

.btn {
    background-color: #3C8DAD;
}

.upload {
    max-width: 50%;
    margin-top: 15px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    min-height: 300px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0.5rem;
    color: #666;
    box-shadow: inset 0 0 0.25rem #ddd;
    &:focus {
        outline: none;
        border: 1px solid darken(#ddd, 5%);
        box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
    }
    & [placeholder] {
        font-style: italic;
        font-size: 0.875rem;
    }
}

#the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
}

.autocomplete {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

input {
    border: 1px solid transparent;
    padding: 5px;
    font-size: 16px;
}

.add {
    padding: 6.6px;
    margin-left: 3px;
}

input[type=text] {
    width: 100%;
}

input[type=submit] {
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}


/*when hovering an item:*/

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}


/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.badge {
    margin-right: 5px;
}